(
    data: {
        "/home/itiu/work/veda-server/ontology/system-core/rdf-schema.ttl": "EA6F15ABC25F12725EB21E7CA92AE7BC",
        "/home/itiu/work/veda-server/ontology/abstract-dictionary/veda-abstract.ttl": "88AACC8BD9710431084361E6F20822E6",
        "/home/itiu/work/veda-server/ontology/abstract-dictionary/config-base.ttl": "E3C5937EDF1F7668A065285C1818EF7F",
        "/home/itiu/work/veda-server/ontology/veda-version.ttl": "6D5E578E77D4674A642EF449215794DE",
        "/home/itiu/work/veda-server/ontology/system-core/xsd.ttl": "D2E346B5DBF3BCD378451878EF2A1D35",
        "/home/itiu/work/veda-server/ontology/abstract-dictionary/organization/veda-organization-schema.ttl": "EB81F65489607D9207718841D315CCE6",
        "/home/itiu/work/veda-server/ontology/config.ttl": "B24F308E9416AB30D37CEEEC3CEE696A",
        "/home/itiu/work/veda-server/ontology/generic-function/veda-function-group-auth.ttl": "E45508763DD603DB4DF9DEB0866DBE57",
        "/home/itiu/work/veda-server/ontology/system-core/22-rdf-syntax-ns.ttl": "2A3C6A5E6620E4B02BB46DD57C701A8B",
        "/home/itiu/work/veda-server/ontology/test-data.ttl": "283F56EB8FE8DC1C1C6392A6CE383B3A",
        "/home/itiu/work/veda-server/ontology/system-accounts.ttl": "6EEB86A331DFAF829F3FF3E9D15629A9",
        "/home/itiu/work/veda-server/ontology/system-core/owl.ttl": "BB6C9D76A13A087CBDF40293C166CF27",
    },
)